.wrapper {
  height: 100vh;
  background-color: #545454;
  background-image: url('../images/background2.jpeg');
  background-size: cover;
  filter: grayscale(100%);
  background-blend-mode: multiply;

  .textBox {
    padding-top: 30vh;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);

    .far {
      font-size: 1.5em;
    }

    h3 {
      font-weight: 600;
    }

    h2 {
      font-weight: 700;
    }
  }
}

.landingPage2 {
  background-image: url('../images/background.jpeg');
  background-size: cover;
  filter: grayscale(50%);
  padding-top: 20vh;

  .container {
    height: 50vh;
    padding-top: 10vh;
    text-align: center;

    h3 {
      font-size: 24px;
    }

    h2 {
      font-size: 32px;
      font-weight: 900;
      letter-spacing: -0.02em;
      line-height: 1.2;
    }

    #box {
      background-color: #fff;
      border-radius: 5px;
      opacity: 0.6;
      width: 375px;
    }

    #box2 {
      background-color: #fff;
      border-radius: 5px;
      opacity: 0.6;
      width: 400px;
    }
  }

  #text {
    color: #fff;
  }
}

#navbar2 {
  height: 7vh;

  .navbar-brand {
    padding-left: 2vw;
  }

  .nav-link {
    color: $dark-color;
    margin-right: 2vw;
  }

  .nav-link:hover {
    color: #0050bd;
  }
}

nav {
  position: relative;

  a {
    color: #fff;
  }
}

.whatWeDo {
  height: $primary-page-height;

  #topRow {
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .card-header {
    background-color: $color-peach;
    text-align: center;
  }

  .card-header2 {
    background-color: $color-lilac;
    text-align: center;
  }

  .card-header3 {
    text-align: center;
    background-color: $color-blue;
  }

  .card-header4 {
    text-align: center;
    background-color: $color-pink;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 800;
    padding-top: 7vh;
  }
}

.whatWeDo2 {
  #topRow {
    padding-top: 2vh;
    padding-bottom: 5vh;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    padding-top: 5vh;
    padding-left: 10vw;
    color: #a3a3a3;
  }
}

.survey {
  background-color: #91a8d0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  #heading {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
  }

  #image {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

#virtuousCircle {
  background-color: $color-peach;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: #fff;

  #heading {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
  }
}

#doItNow {
  height: $secondary-page-height;
  padding-top: 2vh;

  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 800;
    color: $primary-blue;
    padding-bottom: 1vh;
  }

  .card-body {
    background-color: #fff;
  }

  .card-header {
    background-color: $primary-blue;
    color: #fff;
  }

  #card-header2 {
    background-color: $secondary-blue;
    color: #fff;
  }
}

.header-image {
  margin: 0 40%;

  @media (min-width: 576px) {
    margin: 0;
  }
}

#howItWorks2 {
  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    color: #a3a3a3;
  }

  #icon {
    font-size: 36px;
    color: $secondary-blue;
  }

  #arrow1 {
    font-size: 36px;
    color: $secondary-blue;
    display: none;
  }

  #arrow2 {
    display: block;
  }

  @media (min-width: 768px) {
    #arrow1 {
      display: block;
    }

    #arrow2 {
      display: none;
    }
  }

  #innerWrapper {
    text-align: center;

    #description {
      border-style: solid;
      border-width: medium;
    }
  }
}

#howItWorks {
  height: $secondary-page-height;
  background-color: $secondary-grey;
  padding-top: 10vh;

  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 800;
  }

  #icon {
    font-size: 36px;
    padding: 20px;
    color: $secondary-blue;
  }

  #innerWrapper {
    text-align: center;

    #howItWorksRow {
      padding-top: 4vh;
    }
  }
}

.footer {
  background-color: $dark-color;

  h5 {
    color: #fff;
  }

  a {
    color: #303030;
  }
}

#inputForm {
  background-color: $secondary-grey;

  #inputEmail {
    width: 50vw;
    height: $secondary-page-height;
    padding-top: 10vh;
  }

  a {
    color: $dark-color;
  }
}

#bouncePoint {
  background-color: $color-blue;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .carousel-margin {
    margin-top: 3%;
  }

  .carousel-inner {
    color: #fff;
    margin: 6% 0;
    height: 500px;
  }
}

.questions {
  height: $secondary-page-height;
  padding-top: 10vh;
  background-color: $secondary-blue;
  text-align: center;

  h4 {
    font-weight: 600;
  }

  #border {
    border-radius: 25px;
    height: 30vh;
    padding-top: 5vh;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
}

.questions2 {
  background-color: $secondary-blue;
  text-align: center;
  color: #fff;
}

#aboutPage {
  padding-top: 10vh;
}

#benefitPage {
  padding-top: 13vh;

  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    color: #a3a3a3;
    text-align: center;
  }

  #intro {
    text-align: center;
    color: #fff;
  }

  #subHeading {
    text-align: left;
  }

  #TEF {
    text-align: center;
    background-color: $secondary-grey;

    #image {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    #card {
      text-align: left;
    }
  }

  #marketing {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 25px;
    background-color: #034f84;
    color: #fff;
  }

  #alumniRelations {
    background-color: $secondary-grey;
  }

  #wideningAccess {
    #textBox {
      color: $secondary-blue;

      #heading {
        color: $secondary-blue;
      }
    }
  }
}

.benefit-introduction {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: $color-blue;
}

#dqPage {
  padding-top: 10vh;

  #title {
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-weight: 600;
    padding-left: 10vw;
    padding-bottom: 40px;
    color: #a3a3a3;
  }

  #student {
    padding: 40px;

    #card {
      width: 1000px;
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }

  #firstBox {
    padding-top: 10px;
    background-color: #f7786b;
    height: 400px;
  }

  #analytics {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;

    #card {
      box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.5);
    }
  }
}

#legalPage {
  padding-top: 5vh;
  display: flex;
  justify-content: center;

  #wrapper {
    margin-top: 8vh;
    margin-bottom: 12vh;
  }

  #linkCard {
    width: 850px;
  }
}
