
$font: 'Open Sans', sans-serif;

$primary-blue: #006efd;
$secondary-blue: #0050bd;
$dark-color: #0d0d0d;
$primary-grey: #c0c0c0;
$secondary-grey: #e8e8e8;

$color-blue: #034f84;
$color-lilac: #91a8d0;
$color-pink: #f7cac9;
$color-peach: #f7786b;

$primary-page-height: 800px;
$secondary-page-height: 500px;

$grid-columns:      12;
$grid-gutter-width: 30px;

$sm-min: 576px;
$md-min: 768px;
$lg-min: 992px;
$xl-min: 1200px;
